/* ----------------------------------------- */
/* ---------------- Variables  ------------- */
/* ----------------------------------------- */
$header_font: 'Lato',
sans-serif;
$body_font: 'Aleo',
serif;
$code_font: 'Courier Prime',
monospace;


$white: #F5FBFF;
$black: #000000;
$blue: #4085D0;
$light_blue: #64A5EE;
$green: #61936F;
$light_green: #7FAE8C;
$purple: #92608C;
$light_purple: #AF7EA9;
$orange: #D07440;
$light_orange: #EC8A53;
$main_gradient: linear-gradient(105.44deg, #4085D0 0%, #7E4477 100%);
$blue_gradient: linear-gradient(105.44deg, #4085D0 0%, #2A73C3 100%);
$dark_blue_gradient: linear-gradient(96.82deg, #2D74C1 1.2%, #1762B3 100.89%);
$green_gradient: linear-gradient(105.44deg, #61936F 0%, #478258 100%);
$dark_green_gradient: linear-gradient(96.82deg, #447B54 1.2%, #2B683C 100.89%);
$purple_gradient: linear-gradient(112.03deg, #92608C 0%, #7E4477 100%);
$dark_purple_gradient: linear-gradient(96.82deg, #794273 1.2%, #65295E 100.89%);
$orange_gradient: linear-gradient(105.44deg, #D07440 0%, #C2622C 100%);

$code_gray: rgba(242, 242, 242, 1);

/* ----------------------------------------- */
/* -------------- Drop Shadows ------------- */
/* ----------------------------------------- */


/* -------------- BUTTONS ------------- */

$white_button_box_shadow: 0px 10px 20px #99BDD5,
inset 2px 2px 4px rgba(220, 233, 241, 0.75),
inset -8px -8px 12px #DCE9F1;
$white_button_hover_box_shadow: 0px 10px 20px #99BDD5,
inset 2px 2px 4px rgba(170, 197, 215, 0.75),
inset -8px -8px 12px rgba(170, 197, 215, 0.7);

$blue_button_hover_background: linear-gradient(93.2deg, #64A5EE 3.44%, #64A5EE 100.8%);
$blue_button_box_shadow: 0px 10px 20px rgba(37, 98, 167, 0.5),
inset 2px 2px 4px rgba(64, 133, 208, 0.75),
inset -8px -8px 12px #4085D0;
$blue_button_hover_box_shadow: 0px 10px 20px #1055A2,
inset 2px 2px 4px rgba(31, 101, 178, 0.75),
inset -8px -8px 12px #1F65B3;

$blue_button_hover_02_background: linear-gradient(93.2deg, #4085D0 3.44%, #2A73C3 100.8%);
$blue_button_hover_02_box_shadow: 0px 10px 20px rgba(42, 114, 194, 0.5),
inset 2px 2px 4px rgba(36, 103, 175, 0.75),
inset -8px -8px 12px #1F68B8;

$blue_button_hover_03_background: #8AC0FC;
$blue_button_hover_03_box_shadow: 0px 10px 20px rgba(73, 133, 201, 0.5),
inset 2px 2px 4px rgba(73, 133, 201, 0.75),
inset -8px -8px 12px #4985C9;


$purple_button_box_shadow: 0px 10px 20px rgba(0, 0, 0, 0.3),
inset 2px 2px 4px rgba(147, 71, 137, 0.75),
inset -8px -8px 12px rgba(147, 71, 137, 0.7);
$purple_button_hover_box_shadow: 0px 20px 20px rgba(0, 0, 0, 0.3),
inset 2px 2px 4px rgba(94, 41, 87, 0.75),
inset -8px -8px 12px rgba(94, 41, 87, 0.75);

$purple_button_hover_02_background: #CFA6CA;
$purple_button_hover_02_box_shadow: 0px 10px 20px #612C5A,
inset 2px 2px 4px rgba(140, 82, 133, 0.75),
inset -8px -8px 12px rgba(140, 82, 133, 0.7);


$green_button_box_shadow: 0px 10px 20px rgba(0, 0, 0, 0.3),
inset 2px 2px 4px rgba(77, 135, 93, 0.6),
inset -8px -8px 12px rgba(77, 135, 93, 0.75);
$green_button_hover_box_shadow: 0px 10px 20px #0F3419,
inset 2px 2px 4px rgba(39, 96, 55, 0.75),
inset -8px -8px 12px #276037;

$green_button_hover_02_background: #A7D4B4;
$green_button_hover_02_box_shadow: 0px 10px 20px #215B32,
inset 2px 2px 4px rgba(100, 165, 119, 0.6),
inset -8px -8px 12px #64A577;


/* -------------- CARDS ------------- */


/* -------------- XLG ------------- */
$blue_clay_card_xlg_box_shadow: 0px 55px 100px rgba(92, 140, 194, 0.5),
inset 12px 12px 20px rgba(32, 102, 178, 0.84),
inset -45px -45px 72px #2066B3;

$purple_clay_card_xlg_box_shadow: 0px 55px 100px rgba(106, 53, 100, 0.55),
inset 12px 12px 20px rgba(115, 59, 108, 0.84),
inset -45px -45px 72px #733B6C;

$green_clay_card_xlg_box_shadow: 0px 55px 100px rgba(18, 66, 31, 0.5),
inset 12px 12px 20px rgba(55, 111, 71, 0.84),
inset -45px -45px 72px #376F47;

$orange_clay_card_xlg_box_shadow: 0px 55px 100px rgba(107, 49, 16, 0.5),
inset 12px 12px 20px rgba(168, 84, 37, 0.84),
inset -45px -45px 72px #A85425;


$blue_clay_card_hover_xlg_box_shadow: 0px 55px 100px rgba(92, 140, 194, 0.75),
inset 12px 12px 20px rgba(26, 88, 156, 0.84),
inset -45px -45px 72px #1A589C;

$purple_clay_card_hover_xlg_box_shadow: 0px 55px 100px rgba(106, 53, 100, 0.75),
inset 12px 12px 20px rgba(101, 49, 95, 0.84),
inset -45px -45px 72px #65315F;

$green_clay_card_hover_xlg_box_shadow: 0px 55px 100px rgba(18, 66, 31, 0.75),
inset 12px 12px 20px rgba(49, 101, 64, 0.84),
inset -45px -45px 72px #316540;

$orange_clay_card_hover_xlg_box_shadow: 0px 55px 100px rgba(107, 49, 16, 0.75),
inset 12px 12px 20px rgba(142, 65, 21, 0.84),
inset -45px -45px 72px #8E4115;




/* -------------- LG ------------- */
$blue_clay_card_lg_box_shadow: 0px 55px 100px rgba(92, 140, 194, 0.5),
inset 12px 12px 20px rgba(32, 102, 178, 0.5),
inset -45px -45px 72px #2066B3;
$purple_clay_card_lg_box_shadow: 0px 55px 100px rgba(106, 53, 100, 0.55),
inset 12px 12px 20px rgba(115, 59, 108, 0.5),
inset -45px -45px 72px #733B6C;
$green_clay_card_lg_box_shadow: 0px 55px 100px rgba(18, 66, 31, 0.5),
inset 12px 12px 20px rgba(55, 111, 71, 0.5),
inset -45px -45px 72px #376F47;
$orange_clay_card_lg_box_shadow: 0px 55px 100px rgba(107, 49, 16, 0.5),
inset 12px 12px 20px rgba(168, 84, 37, 0.5),
inset -45px -45px 72px #A85425;

$blue_clay_card_hover_lg_box_shadow: 0px 55px 100px rgba(92, 140, 194, 0.5),
inset 12px 12px 20px rgba(12, 78, 150, 0.75),
inset -45px -45px 72px #0C4E96;
$purple_clay_card_hover_lg_box_shadow: 0px 55px 100px rgba(106, 53, 100, 0.75),
inset 12px 12px 20px rgba(87, 36, 81, 0.5),
inset -45px -45px 72px #572451;
$green_clay_card_hover_lg_box_shadow: 0px 55px 100px rgba(18, 66, 31, 0.75),
inset 12px 12px 20px rgba(34, 87, 49, 0.5),
inset -45px -45px 72px #225731;
$orange_clay_card_hover_lg_box_shadow: 0px 55px 100px rgba(107, 49, 16, 0.75),
inset 12px 12px 20px rgba(135, 59, 16, 0.5),
inset -45px -45px 72px #873B10;


/* -------------- MD ------------- */
$blue_clay_card_md_box_shadow: 0px 45px 100px rgba(92, 140, 194, 0.5),
inset 12px 12px 20px rgba(32, 102, 178, 0.5),
inset -38px -38px 72px #2066B3;
$purple_clay_card_md_box_shadow: 0px 45px 100px rgba(106, 53, 100, 0.55),
inset 12px 12px 20px rgba(115, 59, 108, 0.5),
inset -38px -38px 72px #733B6C;
$green_clay_card_md_box_shadow: 0px 45px 100px rgba(18, 66, 31, 0.5),
inset 12px 12px 20px rgba(55, 111, 71, 0.5),
inset -38px -38px 72px #376F47;
$orange_clay_card_md_box_shadow: 0px 45px 100px rgba(107, 49, 16, 0.5),
inset 12px 12px 20px rgba(168, 84, 37, 0.5),
inset -38px -38px 72px #A85425;

/* -------------- SM ------------- */
$blue_clay_card_sm_box_shadow: 0px 35px 100px rgba(92, 140, 194, 0.5),
inset 12px 12px 20px rgba(32, 102, 178, 0.5),
inset -30px -30px 60px #2066B3;
$purple_clay_card_sm_box_shadow: 0px 35px 100px rgba(106, 53, 100, 0.5),
inset 10px 10px 20px rgba(115, 59, 108, 0.5),
inset -30px -30px 60px #733B6C;
$green_clay_card_sm_box_shadow: 0px 35px 100px rgba(18, 66, 31, 0.5),
inset 10px 10px 20px rgba(55, 111, 71, 0.5),
inset -30px -30px 60px #376F47;
$orange_clay_card_sm_box_shadow: 0px 35px 100px rgba(107, 49, 16, 0.5),
inset 10px 10px 20px rgba(168, 84, 37, 0.5),
inset -30px -30px 60px #A85425;

/* -------------- XSM ------------- */
$blue_clay_card_xsm_box_shadow: 0px 24px 40px rgba(92, 140, 194, 0.5),
inset 8px 8px 20px rgba(32, 102, 178, 0.5),
inset -24px -24px 60px #2066B3;
$purple_clay_card_xsm_box_shadow: 0px 24px 40px rgba(106, 53, 100, 0.55),
inset 8px 8px 20px rgba(115, 59, 108, 0.5),
inset -24px -24px 60px #733B6C;
$green_clay_card_xsm_box_shadow: 0px 24px 40px rgba(18, 66, 31, 0.5),
inset 8px 8px 20px rgba(55, 111, 71, 0.5),
inset -24px -24px 60px #376F47;
$orange_clay_card_xsm_box_shadow: 0px 24px 40px rgba(107, 49, 16, 0.41),
inset 8px 8px 20px rgba(168, 84, 37, 0.5),
inset -24px -24px 60px #A85425;
