/* ----------------------------------------- */
/* ---------------- Imports  --------------- */
/* ----------------------------------------- */
@import 'css_reset';
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Courier+Prime&family=Lato:wght@400;700&display=swap');

/* ----------------------------------------- */
/* ---------------- Variables  ------------- */
/* ----------------------------------------- */
$header_font: 'Lato',
sans-serif;
$body_font: 'Aleo',
serif;
$code_font: 'Courier Prime',
monospace;



$white: #F5FBFF;
$black: #000000;
$blue: #4085D0;
$light_blue: #64A5EE;
$green: #61936F;
$light_green: #7FAE8C;
$purple: #92608C;
$light_purple: #AF7EA9;
$orange: #D07440;
$light_orange: #EC8A53;
$main_gradient: linear-gradient(105.44deg, #4085D0 0%, #7E4477 100%);
$blue_gradient: linear-gradient(105.44deg, #4085D0 0%, #2A73C3 100%);
$dark_blue_gradient: linear-gradient(96.82deg, #2D74C1 1.2%, #1762B3 100.89%);
$green_gradient: linear-gradient(105.44deg, #61936F 0%, #478258 100%);
$dark_green_gradient: linear-gradient(96.82deg, #447B54 1.2%, #2B683C 100.89%);
$purple_gradient: linear-gradient(112.03deg, #92608C 0%, #7E4477 100%);
$dark_purple_gradient: linear-gradient(96.82deg, #794273 1.2%, #65295E 100.89%);
$orange_gradient: linear-gradient(105.44deg, #D07440 0%, #C2622C 100%);

$code_gray: rgba(242, 242, 242, 1);


/* ----------------------------------------- */
/* ---------------- Mixins ----------------- */
/* ----------------------------------------- */


/* ----------------------------------------- */
/* ---------------- GLOBAL ----------------- */
/* ----------------------------------------- */
body {
    background-color: $white;
}

html {
    scroll-behavior: smooth;
}


p,
li {
    font-family: $body_font;
    font-weight: 300;
    font-size: 16pt;
    line-height: 24pt;
    margin-bottom: 10pt;

    b {
        font-weight: 700;
    }
}

a {
    font-family: $body_font;
    font-weight: 300;
    font-size: 16pt;
    line-height: 24pt;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}


ul {
    list-style-type: decimal;
    padding-left: 2em;
}

h1 {
    font-family: $header_font;
    font-size: 48pt;
    font-weight: bold;
    margin-top: 5pt;
    margin-bottom: 10pt;
}

h2 {
    font-family: $header_font;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h3 {
    font-family: $header_font;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h4 {
    font-family: $body_font;
    font-size: 24pt;
    font-weight: 500;
    margin-bottom: 0.5em;
}

pre {
    background-color: $code_gray;
    border-radius: 5px;
    font-family: $code_font;
    padding: 0 1em;
    font-size: 10pt;
}

/* ----------------------------------------- */
/* ---------------- Buttons ----------------- */
/* ----------------------------------------- */

.button {
    margin-top: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-image: $blue_gradient;
    transition: all 0.3s ease 0s;

    &:hover {
        background-image: $main_gradient;
    }
}

.button_02 {
    margin-top: 1em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: $light_blue;
    transition: all ease-in 0.3s;
    border: 1px solid $white;

    &:hover {
        background-color: $white;
        border: 1px solid $light_blue;
        color: $light_blue;
    }
}

.button_03 {
    margin-top: 1em;
    border: none;
    color: $black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: $white;
    transition: all ease-in 0.3s;
    border: 1px solid $black;

    &:hover {
        background-color: $black;
        border: 1px solid $white;
        color: $white;

    }

    img {
        width: 20px;
        margin-right: 1em;
    }
}

/* ----------------------------------------- */
/* ---------------- Navigation  ------------ */
/* ----------------------------------------- */
.top_nav_container {
    position: sticky;
    top: 0;
    z-index: 50;
}

.logo {
    margin: 0;

    img {
        height: 150px;
    }
}

ul.navigation {
    position: sticky;
    top: 0;
    height: 64px;
    list-style: none;
    justify-items: center;
    text-transform: uppercase;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 5% 0 5%;
    justify-content: flex-end;
    box-shadow: 0px 2px 10px rgba(3, 47, 97, 0.5);

    li {}

    li.n_logo {
        margin-right: auto;

        a {}
    }

    li.n_projects,
    li.n_about {
        margin-right: 2%;
    }


    li.n_contact {
        margin-right: 0;
    }

    /* li.n_email {
        margin-right: 1%;

    }

    li.n_linkedin {}
*/
    a,
    i {
        padding: 1em 0.5em 0 0.5em;
    }

}

.mobilenav {
    display: none;
}

ul.navigation,
ul.mobilenav {
    a {
        font-family: $header_font;

    }

    a,
    i {
        font-size: 14px;
        text-decoration: none;
        letter-spacing: .125rem;
        display: block;
        color: $black;
        line-height: 40px;

        li:first-of-type a {
            border-bottom: none;
        }
    }

    li.n_logo {
        align-self: center;

        a {
            padding-top: 0;
            font-weight: bold;
            font-size: 24px;
            color: $blue;
            transition: all 0.3s ease 0s;

            &:hover {
                background: $blue_gradient;
                border-radius: 5px;
                color: $white;

            }
        }
    }

    li.n_projects,
    li.n_about {
        align-self: center;

        a {
            padding: 8px;
            line-height: 24px;
            transition: all 0.3s;
            opacity: 1;
            display: block;

            &:hover {
                background: $blue_gradient;
                border-radius: 5px;
                color: $white;
                opacity: 0.75;
            }
        }
    }

    li.n_contact {
        align-self: center;

        a {
            padding: 8px;
            border-radius: 5px;
            line-height: 24px;
            transition: all 0.3s;
            border: 1px solid $black;

            &:hover {
                background: $blue_gradient;
                color: $white;
                border: 1px solid transparent;
            }
        }
    }

    li.n_email,
    li.n_linkedin {

        a,
        i {
            font-size: inherit;
            padding: 0;
            line-height: 64px;
            font-size: 24px;
        }

        a:hover i {
            color: $blue;
        }
    }

    li.n_icons {
        line-height: 64px;

        a,
        i {
            padding: 0;
            font-size: 25px;
        }

        a {
            padding-right: 0.5em;
            align-items: center;
            justify-content: center;
        }
    }
}


/* ----------------------------------------- */
/* ---------- Anchor Links ----------------- */
/* ----------------------------------------- */
a.anchor {
    display: block;
    position: relative;
    visibility: hidden;

    &.projects {
        top: 2vw;
    }

    &.about {
        top: -9vw;
    }

    &.home {
        top: -5vw;
    }

}

/* ----------------------------------------- */
/* ------------------- HERO ---------------- */
/* ----------------------------------------- */

div.hero {
    text-align: center;
    margin: 4em auto 2em auto;

    h1 {
        background: $blue_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* ----------------------------------------- */
/* ----------------- PROJECTS -------------- */
/* ----------------------------------------- */
div.project {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 340px;
    grid-column-gap: 20px;
    width: 90%;
    height: auto;
    transition: all ease-in 0.3s;

    div.card {
        border-radius: 20px;
        background: $blue_gradient;
        grid-area: 2 / 1 / 2 / span 12;
        transition: all ease-in 0.3s;

        &:hover {
            background: $dark_blue_gradient;
        }
    }

    div.project_text {
        grid-area: 2 / 2 / 2 / span 5;
        color: $white;
        margin-top: 6vw;
    }

    div.phone_01 {
        grid-area: 2 / 9 / span 2 / span 3;
    }

    div.phone_02 {
        grid-area: 1 / 7 / span 2 / span 3;
    }

    div.phone_02,
    div.phone_01 {
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    /*&:hover {
        div.card {
            background: $dark_blue_gradient;
        }

        div.phone_02 {
            margin-left: 5px
        }

        div.phone_01 {
            margin-right: 5px
        }
    }*/
    &.case_study_01 {
        margin-top: 15vw;

        div.phone_02,
        div.phone_01 {
            img {
                @media only screen and (max-width: 1300px) {
                    width: 100%
                }

                @media only screen and (max-width: 1600px) {
                    width: 90%;
                }

                width: 70%;
            }
        }
    }

    &.case_study_02 {
        margin-top: 2vw;

        @media only screen and (max-width: 1100px) {
            margin-top: 5vw;
        }

        div.card {
            background: $purple_gradient;

            &:hover {
                background: $dark_purple_gradient;
            }
        }

        div.phone_01 {
            @media only screen and (max-width: 1300px) {
                grid-area: 1 / 7 / span 2 / span 5;
            }

            grid-area: 1 / 7 / span 2 / span 5;
        }

        .button_02 {
            background-color: $light_purple;

            &:hover {
                border: 1px solid $light_purple;
                color: $light_purple;
                background-color: $white;
            }
        }
    }

    &.case_study_03 {
        margin-top: 5vw;

        div.card {
            background: $green_gradient;

            &:hover {
                background: $dark_green_gradient;
            }
        }

        .button_02 {
            background-color: $light_green;

            &:hover {
                border: 1px solid $light_green;
                color: $light_green;
                background-color: $white;
            }
        }
    }
}

/* ----------------------------------------- */
/* ----------------- About ----------------- */
/* ----------------------------------------- */
.about {
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
        margin-top: 8vw;
    }

    @media only screen and (max-width: 1100px) {
        margin-top: 8vw;
    }

    @media only screen and (max-width: 900px) {
        margin-top: 15vw;
    }

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 20px;
    width: 90%;
    height: auto;

    h2 {
        grid-area: 1 / 2 / 1 / span all;
    }

    h3 {
        grid-area: 4 / 2 / 4 / span 7;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    div:first-of-type {
        grid-area: 2 / 2 / 2 / span 7;
    }

    div.headshot {
        grid-area: 2 / 9 / 2 / span 4;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 20px;
            filter: drop-shadow(4px 4px 13px rgba(3, 47, 97, 0.20));
        }
    }

    div.abouticons {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;

        a {
            margin-right: 3%;
            font-size: 24px;
            text-decoration: none;
            letter-spacing: .125rem;
            display: block;
            color: $black;

            &:hover {
                i {
                    color: $blue;
                }
            }
        }
    }

    div.process_containers {
        grid-area: 5 / 1 / 5 / span 12;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            font-size: 12pt;
            line-height: 16pt;
        }

        div {
            color: $white;
            border-radius: 20px;
            padding: 2.5em 1.5em 1.5em 1.5em;
            width: 16vw;
            position: relative;

            &:before {
                content: '';
                background-repeat: no-repeat;
                background-size: contain;
                width: 50px;
                height: 50px;
                z-index: 20;
                position: absolute;
                top: -25px;
            }

            &:nth-of-type(1) {
                background: linear-gradient(137.81deg, #4085D0 3.44%, #2A73C3 98.75%);

                &:before {
                    background-image: url('../images/ICON_research.png');
                }
            }

            &:nth-of-type(2) {
                background: linear-gradient(136.15deg, #61936F 2.16%, #478258 98.96%);

                &:before {
                    background-image: url('../images/ICON_design.png');
                }
            }

            &:nth-of-type(3) {
                background: linear-gradient(137.53deg, #92608C 1.51%, #7E4477 98.09%);

                &:before {
                    background-image: url('../images/ICON_build.png');
                }
            }

            &:nth-of-type(4) {
                background: linear-gradient(136.55deg, #D07440 1.37%, #C2622C 98.17%);

                &:before {
                    background-image: url('../images/ICON_refine.png');
                }
            }
        }
    }
}


/* ----------------------------------------- */
/* ---------------- Contact ---------------- */
/* ----------------------------------------- */


div.contact {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 6vw auto 6vw;
    grid-column-gap: 20px;
    width: 90%;
    height: auto;
    margin-bottom: 5em;
    transition: all ease-in 0.3s;


    .contact_container {
        border-radius: 20px;
        background: $blue;
        grid-area: 2 / 1 / span 3 / span 12;
        transition: all ease-in 0.3s;
    }

    .contact_text {
        grid-area: 3 / 2 / 3 / span 4;
        z-index: 15;

        h2,
        p,
        a,
        i {
            color: white;
        }


    }

    form {
        grid-area: 3 / 6 / 3 / span 4;
        color: $white;
        padding-top: 0.5em;

        fieldset {
            display: flex;
            flex-direction: column;

            input,
            textarea {
                background-color: $blue;
                border: 1px solid $white;
                border-radius: 5px;
                padding: .75em 1.25rem;
                margin-bottom: 1.5rem;
                font-family: $body_font;
                color: $white;

                &::placeholder {
                    color: $white;
                    font-size: 10pt;
                }
            }



            label {
                font-family: $header_font;
                font-size: 12pt;
                font-weight: 300;
                color: $white;
                display: inline-block;
                z-index: 3;
                width: auto;
                color: $white;
                padding-left: 15px;
                padding-right: 10px;
                margin-bottom: -5pt;
                position: relative;


                &:before {
                    content: "";
                    top: 0;
                    left: 8px;
                    background-color: $blue;
                    height: 12px;
                    width: 50%;
                    z-index: -1;
                    position: absolute;
                }

                &:nth-of-type(1):before {
                    width: 37%;
                }

                &:nth-of-type(3):before {
                    width: 33%;
                }
            }

        }
    }

    input[type="submit"] {
        margin-top: 1em;
        border: none;
        color: white;
        padding: 15px 5vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        background-color: $light_blue;
        transition: all ease-in 0.3s;
        border: 1px solid $white;

        &:hover {
            background-color: $white;
            border: 1px solid $light_blue;
            color: $light_blue;
        }
    }
}


/* ----------------------------------------- */
/* ----------------- Case Study Page ------- */
/* ----------------------------------------- */
.container {
    overflow: hidden;

    /* ---------- CASE STUDY GRID ---------- */
    .blob_01,
    .blob_02 {
        width: 100%;
        grid-area: 1 / 1 / 1 / span-all;
        object-fit: cover;
    }

    .blob_02 {
        z-index: -5;
    }

    .case_study_page {
        display: grid;
        width: 100%;
        grid-template-columns: 10% repeat(10, 1fr) 10%;
        grid-template-rows: auto;
        grid-row-gap: 2em;

        /* ---------- Section Heads ---------- */

        /* ---------- Section Counter ---------- */
        &>div {
            counter-increment: sectionCounter;

            &:nth-of-type(4) {
                counter-reset: sectionCounter;
            }

            h2 {
                text-indent: 0;
                margin-top: 2em;

                &::before {
                    content: counter(sectionCounter, decimal-leading-zero) ".";
                    color: $blue;
                    text-align: right;
                    margin-left: -54px;
                    margin-right: 5px;
                }


                &::after {
                    width: 100px;
                    padding-bottom: 10px;
                    border-bottom: 4px solid $blue;
                    content: '';
                    display: block;
                }
            }
        }


        h3 {
            color: $blue;
        }

        /* ---------- HERO ---------- */
        .case_study_head {
            grid-area: 1 / 2 / 1 / span 5;
            color: $white;
            margin-top: 3em;

            h1 {}

            h3 {
                color: $white;
            }

            p {
                margin-bottom: 0;
            }
        }

        .head_images {
            grid-area: 1 / 7 / 1 / span 5;
            position: relative;
            display: grid;
            margin-top: 3em;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 15% 1fr 1fr;

            div {
                position: absolute;
                top: 0;

                &:nth-of-type(1) {
                    z-index: 10;
                    grid-area: 1 / 1 / span 2 / span 3;
                }

                &:nth-of-type(2) {
                    grid-area: 2 / 3 / span 2 / span 3;
                }

                img {
                    width: 80%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }


        /* ---------- OVERVIEW ---------- */
        div.overview {
            grid-area: 2 / 2 / 2 / span 10;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            z-index: 15;

            p {
                font-size: 12pt;
                line-height: 16pt;
            }

            h4 {
                font-family: 'Aleo', sans-serif;
                font-size: 24pt;
            }

            div {
                color: $white;
                border-radius: 20px;
                padding: 2.5em 1.5em 1.5em 1.5em;
                margin-right: 20px;
                flex-basis: 26%;
                position: relative;

                &:before {
                    content: '';
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 50px;
                    height: 50px;
                    z-index: 20;
                    position: absolute;
                    top: -25px;
                }

                &:nth-of-type(1) {
                    background: $blue_gradient;

                    &:before {
                        background-image: url('../images/ICON_product.png');
                    }
                }

                &:nth-of-type(2) {
                    background: $orange_gradient;

                    &:before {
                        background-image: url('../images/ICON_challenge.png');
                    }
                }

                &:nth-of-type(3) {
                    background: $green_gradient;

                    &:before {
                        background-image: url('../images/ICON_solution.png');
                    }
                }
            }
        }

        /* ---------- BRIEF ---------- */
        div.brief {
            grid-area: 3 / 2 / 3 / span 10;

            div.brief_container {
                display: flex;
                justify-content: space-between;

                div {
                    width: 20%;
                }
            }

        }

        /* ---------- ROADMAP ---------- */

        div.roadmap {
            grid-area: 4 / 2 / 4 / span 9;

            img {
                object-fit: cover;
                max-width: 100%;
                height: auto;
            }
        }

        /* ---------- STAKEHOLDER ---------- */
        div.stakeholder {
            grid-area: 5 / 2 / 5 / span 10;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            grid-gap: 1em;

            p,
            li {
                font-size: 12pt;
                line-height: 16pt;
            }

            h2 {
                grid-area: 1 / 1 / 1 / span 10;
            }

            h4 {
                font-family: 'Aleo', sans-serif;
                font-size: 24pt;
            }

            p {
                grid-area: 2 / 1 / 2 / span 10;
            }

            img {
                grid-area: 4 / 1 / span 2 / span 4;
                margin-left: -10vw;
                z-index: 20;
            }

            div.stakeholder_cards {
                display: flex;
                right: 0;
                margin-top: 2em;
                grid-area: 3 / 3 / span 2 / span 8;

                div {
                    color: $white;
                    border-radius: 20px;
                    padding: 2.5em 1.5em 1.5em 1.5em;
                    position: relative;

                    &:before {
                        content: '';
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 50px;
                        height: 50px;
                        z-index: 20;
                        position: absolute;
                        top: -27px;
                    }

                    &:nth-of-type(1) {
                        background: $green_gradient;
                        margin-right: 2%;

                        &:before {
                            background-image: url('../images/ICON_insights.png');
                        }
                    }

                    &:nth-of-type(2) {
                        background: $orange_gradient;

                        &:before {
                            background-image: url('../images/ICON_problems.png');
                        }
                    }
                }
            }
        }


        /* ---------- RESEARCH ---------- */
        div.research {
            grid-area: 6 / 2 / 6 / span 10;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            grid-gap: 1em;

            h2 {
                grid-area: 1 / 1 / 1 / span 10;
            }

            div.site_analysis {
                grid-area: 2 / 1 / 2 / span 10;
                display: flex;

                div {
                    width: 40%;
                }

                img {
                    object-fit: contain;
                    margin-left: 10px;
                    align-self: flex-start;
                    filter: drop-shadow(0px 0px 13px rgba(3, 47, 97, 0.08));
                    border-radius: 10px;
                    margin-bottom: 1.5em;

                    &:nth-of-type(1) {
                        width: 22%;
                    }

                    &:nth-of-type(2) {
                        width: 12%;
                    }
                }
            }

            div.competitor_analysis {
                grid-area: 3 / 1 / 3 / span 10;

                table {
                    margin: 1.5em auto;

                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    tr {
                        &:nth-of-type(1) {
                            td {
                                vertical-align: top;
                                border-bottom: 0;
                                padding-top: 0;
                                text-align: left;

                                img {
                                    max-width: 150px;
                                    margin-bottom: 0.5em;
                                    filter: drop-shadow(0px 0px 13px rgba(3, 47, 97, 0.08));
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            td {
                                border-top: 1px solid $black;
                            }
                        }

                        &:nth-of-type(4) {}

                        td {
                            padding: 1em 15px 0.5em 0;
                            vertical-align: middle;
                            border-bottom: 1px solid $black;

                            &:nth-of-type(1) {
                                margin-right: 2em;
                            }

                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }

                p {
                    margin-bottom: 0;
                    text-align: left;
                }

                tr {
                    td {
                        text-align: center;
                    }
                }
            }

            div.user_persona {
                grid-area: 4 / 1 / 4 / span 10;
                display: flex;

                div:nth-of-type(1) {
                    flex-shrink: 3;
                    padding-right: 1em;
                }

                div:nth-of-type(2) {
                    flex-shrink: 2;
                }

                img {
                    object-fit: cover;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        /* ---------- SITEMAP ---------- */
        div.sitemap {
            grid-area: 7 / 2 / 7 / span 10;

            img {
                object-fit: contain;
                max-width: 100%;
                height: auto;

                &:first-of-type {
                    margin-bottom: 2em;
                    max-width: 66%;
                }
            }
        }

        /* ---------- DESIGN ---------- */
        div.design {
            grid-area: 8 / 2 / 8 / span 10;

            div {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                img {
                    object-fit: cover;
                    max-width: 14%;
                    height: auto;
                }
            }

            .styleguide {
                flex-direction: column;

                img {
                    max-width: 60%;
                    border-radius: 10px;
                }

                margin-bottom: 2em;
            }

            .hifi_designs {
                display: flex;
                flex-direction: column;

                p {}

                img {
                    object-fit: cover;
                    max-width: 100%;
                    height: auto;
                }
            }

            .mobile_img {
                max-width: 80%;
                height: auto;
                margin: 2em auto 0 auto;
            }
        }

        /* ---------- PROTOTYPES ---------- */
        div.prototypes {
            grid-area: 9 / 2 / 9 / span 10;

            a:first-of-type {
                margin-right: 1em;
            }

            div {
                display: flex;
                margin-top: 2em;
                justify-content: space-around;

                img {
                    object-fit: cover;
                    max-width: 50%;
                    height: auto;
                }
            }
        }

        /* ---------- TESTING ---------- */
        div.testing {
            grid-area: 10 / 2 / 10 / span 10;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-gap: 20px;

            h2 {
                grid-area: 1 / 1 / 1 / span 10;
            }

            div:first-of-type {
                grid-area: 2 / 1 / 2 / span 5;
            }

            div.testing_a_b {
                grid-area: 2 / 6 / 2 / span 5;

                p:before {
                    background-image: url('../images/ICON_question.png');
                    content: '';
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 50px;
                    height: 50px;
                    display: block;
                    float: left;
                    margin-right: 0.5em;
                }

                div {
                    display: flex;

                    img {
                        align-self: flex-end;
                    }
                }
            }

            div.testing_tasks {
                border-radius: 20px;
                background: $blue_gradient;
                padding: 2em 1.5em 1em 1.5em;
                margin-bottom: 2em;

                h4 {}

                h4,
                li {
                    color: white;
                }

            }

            div.results_img {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin-bottom: 2em;

                img {
                    margin-right: 1em;
                }
            }

            div.testing_takeaways {
                border-radius: 20px;
                background: $purple_gradient;
                padding: 2em 1.5em 1em 1.5em;
                margin-bottom: 2em;

                h4,
                li {
                    color: white;
                }
            }
        }

        /* ---------- FRONT_END ---------- */
        div.front_end {
            grid-area: 11 / 2 / 11 / span 10;
            display: flex;
            flex-direction: column;

            h3 {
                margin-top: 1em;
            }

            .button_03:hover img {
                filter: invert(98%) sepia(68%) saturate(2351%) hue-rotate(179deg) brightness(112%) contrast(106%);
            }

            div.languages {
                img {
                    margin-right: 2em;
                }
            }

            div.fe_variables {
                display: grid;
                grid-template-rows: repeat(2, auto);
                grid-template-columns: 25% 40% 35%;
                grid-gap: 20px;

                div {
                    grid-area: 1 / 1 / 2 / 1;
                }

                pre {
                    grid-area: 1 / 2 / 2 / 2;


                    &:nth-of-type(2) {
                        grid-area: 1 / 3 / 2 / 3;
                    }
                }
            }

            div.fe_grid {
                display: grid;
                grid-template-rows: repeat(2, auto);
                grid-template-columns: 25% 40% 35%;
                grid-gap: 20px;

                div:nth-of-type(1) {
                    grid-area: 1 / 1 / 2 / 1;
                }

                div:nth-of-type(2) {
                    grid-area: 1 / 2 / 2 / 2;

                    pre {
                        margin-bottom: 1em;
                    }
                }

                div:nth-of-type(3) {
                    grid-area: 1 / 3 / 2 / 3;

                    img {
                        object-fit: none;
                    }
                }
            }

            div.fe_responsive {}
        }

        /* ---------- LAUNCH ---------- */
        div.launch {
            grid-area: 12 / 2 / 12 / span 10;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: 15% 20%;
            grid-gap: 20px;

            h2 {
                grid-area: 1 / 1 / 1 / span 10;
            }

            div {
                grid-area: 2 / 1 / 2 / span 6;
            }

            img {
                max-width: 100%;

                &:nth-of-type(1) {
                    grid-area: 3 / 1 / 3 / span 4;
                }

                &:nth-of-type(2) {
                    grid-area: 3 / 4 / 3 / span 2;
                }

                &:nth-of-type(3) {
                    grid-area: 2 / 7 / span 2 / span 4;
                }
            }
        }

        /* ---------- THANKS ---------- */
        div.thankyou {
            grid-area: 13 / 1 / 13 / span 12;
            display: grid;
            grid-template-columns: 10% repeat(10, 1fr) 10%;
            grid-template-rows: repeat(2, 1fr);
            margin-top: -25vw;

            div:first-of-type {
                grid-area: 2 / 2 / 2 / span 4;
                padding-top: 2em;

                h2,
                p {
                    color: $white;

                    &:before {
                        content: none;
                    }
                }
            }

            div.smoke {
                z-index: -15;
                grid-area: 1 / 1 / span 2 / span 12;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        /* ---------- CLOSE CASE STUDY GRID ---------- */

    }
}


/* ----------------------------------------- */
/* --------- Responsive Designs ------------ */
/* ----------------------------------------- */

@media only screen and (max-width: 1200px) {}

@media all and (max-width: 920px) {

    /* --------- Main Page------------ */
    div.process_containers {
        flex-flow: row wrap;
        justify-content: space-evenly;

        div {
            padding: 2.5em 1em 1em 1em !important;
            width: 42% !important;
            margin-bottom: 4em;
        }
    }

}

@media all and (max-width: 900px) {
    .container {

        .blob_01,
        .blob_02 {
            height: 110%;
        }

        .case_study_page {

            p,
            li {
                line-height: 20pt;
            }

            grid-template-columns: 5% repeat(10, 1fr) 5%;

            /* ---------- Section Number ---------- */
            &>div {
                h2 {
                    margin-top: 1em;
                }

                h2::before {
                    margin-left: 0;
                }
            }


            /* ---------- BRIEF ---------- */
            div.brief {
                grid-area: 3 / 2 / 3 / span 10;

                div.brief_container {
                    flex-direction: column;

                    div {
                        width: 100%;
                        margin-bottom: 1em;
                    }
                }
            }

            /* ---------- ROADMAP ---------- */
            div.roadmap {
                grid-area: 4 / 2 / 4 / span 8;
            }



            /* ---------- STAKEHOLDER ---------- */
            div.stakeholder {

                h4 {
                    font-size: 20pt;
                }

                img {
                    grid-area: 4 / 1 / 4 / span 5;
                    margin-left: 0;
                    max-width: 100%;
                    object-fit: cover;
                    z-index: 20;
                    margin-bottom: -3em;
                }

                div.stakeholder_cards {
                    grid-area: 3 / 1 / span 2 / span 10;

                    div {
                        padding: 2.5em 1.5em 1.5em 1.5em;
                        position: relative;
                    }
                }
            }

            /* ---------- RESEARCH ---------- */
            div.research {
                div.site_analysis {
                    grid-area: 2 / 1 / 2 / span 10;
                    flex-wrap: wrap;

                    div {
                        width: 100%;
                    }

                    img {
                        &:nth-of-type(1) {
                            width: 50%;
                        }

                        &:nth-of-type(2) {
                            width: 28%;
                        }
                    }
                }

                div.competitor_analysis {
                    grid-area: 3 / 1 / 3 / span 10;
                }

                div.user_persona {
                    grid-area: 4 / 1 / 4 / span 10;
                    display: flex;
                    flex-flow: column wrap;

                    div:nth-of-type(1) {
                        padding-right: 0;
                    }
                }
            }


            /* ---------- DESIGN ---------- */
            div.design {
                div {
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    ;

                    img {
                        max-width: 25%;
                        height: auto;
                    }
                }

                .styleguide {
                    img {
                        max-width: 50%;
                    }
                }

                .mobile_img {
                    max-width: 100%;
                }
            }

            /* ---------- TESTING ---------- */
            div.testing {
                h2 {
                    grid-area: 1 / 1 / 1 / span 10;
                }

                div:first-of-type {
                    grid-area: 2 / 1 / 2 / span 10;
                }

                div.testing_a_b {
                    grid-area: 3 / 1 / 3 / span 10;

                    p:before {
                        width: 25px;
                        height: 25px;
                    }

                    div {
                        width: 60%;
                        margin: 0 auto;

                        img {
                            object-fit: cover;
                            max-width: 50%;
                            height: auto;
                        }
                    }

                }

                div.testing_tasks,
                div.testing_takeaways {
                    padding: 1.5em 1em 0.5em 1em;
                }

                div.results_img {
                    padding: 0 5%;
                    justify-content: space-evenly;

                    img {
                        margin-bottom: 1em;
                    }
                }
            }

            /* ---------- FRONT_END ---------- */
            div.front_end {

                h3 {
                    margin-top: 1em;
                }

                div.languages {
                    img {
                        margin-right: 2em;
                    }
                }

                div.fe_variables {
                    grid-gap: 10px;
                    grid-template-columns: 50% 50%;

                    div {
                        grid-area: 1 / 1 / 2 / span 2;
                    }

                    pre {
                        grid-area: 2 / 1 / 2 / 1;

                        &:nth-of-type(2) {
                            grid-area: 2 / 2 / 2 / 2;
                        }
                    }
                }

                div.fe_grid {
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3, auto);
                    grid-gap: 10px;

                    div:nth-of-type(1) {
                        grid-area: 1 / 1 / 1 / span 2;
                    }

                    div:nth-of-type(2) {
                        grid-area: 2 / 1 / 2 / span 2;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    div:nth-of-type(3) {
                        grid-area: 3 / 1 / 3 / span 2;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                div.fe_responsive {}
            }

            /* ---------- LAUNCH ---------- */
            div.launch {
                grid-area: 12 / 2 / 12 / span 10;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: 15% 20%;
                grid-gap: 20px;

                h2 {
                    grid-area: 1 / 1 / 1 / span 10;
                }

                div {
                    grid-area: 2 / 1 / 2 / span 6;
                }

                img {
                    max-width: 100%;

                    &:nth-of-type(1) {
                        grid-area: 3 / 1 / 3 / span 4;
                    }

                    &:nth-of-type(2) {
                        grid-area: 3 / 4 / 3 / span 2;
                    }

                    &:nth-of-type(3) {
                        grid-area: 2 / 7 / span 2 / span 4;
                    }
                }
            }

            /* ---------- THANKS ---------- */
            div.thankyou {
                grid-area: 13 / 1 / 13 / span 12;
                display: grid;
                grid-template-columns: 10% repeat(10, 1fr) 10%;
                grid-template-rows: repeat(2, 1fr);
                margin-top: -25vw;

                div:first-of-type {
                    grid-area: 2 / 2 / 2 / span 4;
                    padding-top: 2em;

                    h2,
                    p {
                        color: $white;

                        &:before {
                            content: none;
                        }
                    }
                }

                div.smoke {
                    z-index: -15;
                    grid-area: 1 / 1 / span 2 / span 12;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }






        }
    }

}

@media all and (max-width: 700px) {

    h3,
    h4,
    p {
        text-align: center;
    }

    p {
        font-size: 16pt;
        line-height: 18pt;
    }


    div.hero {
        margin-top: 8em;
    }

    /* --------- Main Page------------ */
    div.project {
        text-align: center;
        grid-template-rows: auto;
        padding-bottom: 2em;
        grid-column-gap: 0;

        div.card {
            grid-area: 1 / 1 / span 2 / span 12;
        }

        div.project_text {
            grid-area: 2 / 1 / 2 / span 12;
            padding: 0 1em 3em 1em;
        }

        div.phone_02 {
            grid-area: 1 / 2 / 1 / span 6;
            margin-top: -3em;
        }

        div.phone_01 {
            grid-area: 1 / 6 / 1 / span 6;
        }

        &.case_study_01 {
            margin-top: 8em;
        }

        &.case_study_02 {
            margin-top: 5em;

            div.phone_01 {
                grid-area: 1 / 3 / 1 / span 8;
                margin-top: -3em;
            }
        }

        &.case_study_03 {
            margin-top: 5em;
        }
    }


    .about {
        margin-top: 6em;
        text-align: center;
        h2 {
            grid-area: 1 / 2 / 1 / span 10;

        }


        div:first-of-type {
            grid-area: 3 / 2 / 3 / span 10;
        }

        div.headshot {
            grid-area: 2 / 2 / 2 / span 10;
            margin-bottom: 1.5em;
            margin-top: 0.5em;
                img {
                    max-width: 75%;
                }

        }
       h3 {
            grid-area: 5 / 2 / 5 / span 10;
        }
        div.abouticons {
            justify-content: center;
            margin-top: 1em;
        }
        div.process_containers {
            grid-area: 6 / 1 / 6 / span 12;
        }
    }

    div.process_containers {
        flex-flow: column wrap;
        justify-content: center;

        div {
            padding: 2.5em 1em 1em 1em !important;
            width: 100% !important;
            margin-bottom: 3em;
            text-align: center;

            &:before {
                left: 40%;
            }
        }
    }



    div.contact {
        grid-template-rows: auto auto;
        text-align: center;

        .contact_container {
            grid-area: 1 / 1 / span 2 / span 12;
        }

        .contact_text {
            padding-top: 3em;
            grid-area: 1 / 2 / 1 / span 10;
        }

        form {
            margin-top: 2em;
            grid-area: 2 / 2 / 2 / span 10;
            padding-bottom: 3em;

            fieldset label {
                text-align: left;
            }
        }
    }


    /* ------------------------------------ */
    /* -------------- CASE STUDY ---------- */
    /* ------------------------------------ */

    div.container {
        overflow: hidden;

        .case_study_page {
            grid-row-gap: 0;

            /* ---------- HERO ---------- */
            .case_study_head {
                grid-area: 1 / 1 / 1 / span 12;
                padding-bottom: 3em;
                padding-top: 6em;
                margin-top: 0;

                h1 {
                    text-align: center;
                }

                h1,
                h3,
                p {
                    z-index: 5;
                }

            }

            .head_images {
                grid-area: 1 / 2 / 1 / span 10;
                z-index: 0;
                margin-top: 50vw;

                div {
                    img {
                        width: 100%;
                    }

                    &:nth-of-type(1) {
                        grid-area: 1 / 1 / span 2 / span 3;
                    }

                    &:nth-of-type(2) {
                        grid-area: 2 / 3 / span 2 / span 3;
                    }
                }
            }



            /* ---------- Section Heads ---------- */
            &>div {

                h2 {
                    margin-top: 1em;
                    text-align: center;

                    &::before {
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        margin-bottom: 0.25em;
                        font-size: 48px;
                    }

                    &::after {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }


            p,
            li {
                line-height: 20pt;
            }

            grid-template-columns: 18px repeat(10, 1fr) 18px;

            /* ---------- OVERVIEW ---------- */
            div.overview {
                grid-area: 2 / 2 / 2 / span 10;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-top: 35vw;

                p {
                    font-size: 16pt;
                    line-height: 20pt;
                }

                div {
                    padding: 3em 1em 1em 1em;
                    margin-right: 0;
                    flex-basis: 100%;
                    margin-top: 3em;

                    &:before {
                        width: 50px;
                        height: 50px;
                        z-index: 20;
                        position: absolute;
                        top: -25px;
                        left: 41%;
                    }
                }
            }

            /* ---------- ROADMAP ---------- */
            div.roadmap {
                grid-area: 4 / 2 / 4 / span 10;
            }


            /* ---------- STAKEHOLDER ---------- */
            div.stakeholder {

                img {
                    grid-area: 3 / 1 / 3 / span 10;
                    margin-left: 0;
                    margin-bottom: 0;
                    z-index: -10;
                    display: block;
                }

                div.stakeholder_cards {
                    grid-area: 3 / 1 / span 2 / span 10;
                    flex-direction: column;
                    margin-top: 58%;

                    div {
                        padding: 3em 1em 1em 1em;
                        margin-bottom: 3em;

                        &:before {
                            left: 41%;
                        }

                    }
                }
            }

            /* ---------- RESEARCH ---------- */
            div.research {
                div.competitor_analysis {
                    table {
                        margin: 1.5em 0;

                        p {
                            font-size: 13px;
                            line-height: 17px;
                        }

                        tr {
                            &:nth-of-type(1) {
                                td {
                                    img {
                                        display: none;
                                    }
                                }
                            }

                            td img {
                                max-width: 24px;
                            }
                        }
                    }
                }


            }

            /* ---------- SITEMAP ---------- */
            div.sitemap {
                text-align: center;
            }

            /* ---------- DESIGN ---------- */
            div.design {

                h3 {
                    margin-top: 2em;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                div {
                    justify-content: start;

                    img {
                        max-width: 50%;
                    }
                }


                .styleguide {
                    align-items: center;

                    img {
                        max-width: 80%;
                    }
                }

                .mobile_img {
                    max-width: 100%;
                }
            }

            /* ---------- PROTOTYPES ---------- */
            div.prototypes {
                grid-area: 9 / 2 / 9 / span 10;
                text-align: center;

                a:first-of-type {
                    margin-right: 0;
                }

                .figma_buttons {
                    margin-top: 0em;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    img {
                        max-width: 100%;
                    }
                }
            }


            /* ---------- TESTING ---------- */
            div.testing {
                div.testing_a_b {
                    div {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }

            /* ---------- FRONT_END ---------- */
            div.front_end {

                h3 {
                    margin-top: 1em;
                }

                div.languages {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    width: 90%;
                    margin: 0 auto;

                    img {
                        margin-right: 1em;
                    }
                }

                div.fe_variables {
                    grid-gap: 10px;
                    grid-template-columns: 100%;

                    div {
                        grid-area: 1 / 1 / 1 / 1;
                    }

                    pre {
                        grid-area: 2 / 1 / 2 / 1;

                        &:nth-of-type(2) {
                            grid-area: 3 / 1 / 3 / 1;
                        }
                    }
                }

                div.fe_grid {
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(5, auto);

                    div:nth-of-type(1) {
                        grid-area: 1 / 1 / 1 / 1;
                    }

                    div:nth-of-type(2) {
                        grid-area: 2 / 1 / 2 / 1;
                        flex-direction: column;
                    }

                    div:nth-of-type(3) {
                        grid-area: 3 / 1 / 3 / 1;
                        flex-direction: column;
                    }
                }

                div.fe_responsive {}
            }

            /* ---------- LAUNCH ---------- */
            div.launch {
                grid-template-rows: auto;
                grid-gap: 10px;

                div {
                    grid-area: 2 / 1 / 2 / span 10;
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }

                img {
                    max-width: 100%;

                    &:nth-of-type(1) {
                        grid-area: 3 / 1 / 3 / span 6;
                    }

                    &:nth-of-type(2) {
                        grid-area: 3 / 5 / 3 / span 2;
                        margin-top: -1em;
                        margin-right: -1em;
                    }

                    &:nth-of-type(3) {
                        grid-area: 3 / 6 / span 2 / span 5;
                    }
                }
            }

            /* ---------- THANKS ---------- */
            div.thankyou {
                grid-area: 13 / 1 / 13 / span 12;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                margin-top: -25vw;

                div:first-of-type {
                    grid-area: 1 / 1 / 1 / span 12;
                    margin-top: 4em;
                }

                div.smoke {
                    img {
                        height: 90vw;
                    }
                }
            }
        }
    }




    /* --------- Anchors ------------ */
    a.anchor.about {
        top: -12vw;
    }

    a.anchor.contact {
        top: -9vw;
    }
}

@media only screen and (max-width: 450px) {
    ul.mobilenav li.mobilemenu {
        /* width: 91% !important;*/
    }
}

@media only screen and (max-width: 640px) {
    ul.navigation {
        display: none;
    }

    ul.mobilenav {
        flex-direction: column;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        background-color: $white;
        text-align: center;
        padding: 0;

        li {
            display: none;
        }


        &.responsive {
            padding-top: 75pt;
            height: 110vh;
        }

        &.responsive li {
            display: block;

            &:nth-child(n+1):nth-child(-n+3) {
                margin-top: 0.5em;
                width: auto;
                margin-left: 20px;
                margin-right: 20px;

                a {
                    display: block;
                    border-radius: 5px;
                    background: $blue_gradient;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: $white;
                    font-size: 16px;
                }

                i {
                    float: left;
                    font-size: 18pt;
                    display: block;
                    line-height: 3pt;
                    margin-right: 1em;
                }
            }
        }

        &.nav_close li {
            display: none;
        }

        /*closed mobile menu*/
        li.mobilemenu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 12px 0;
            background-color: $white;
            box-shadow: 0px 2px 10px rgba(3, 47, 97, 0.5);
            position: fixed;
            z-index: 100;
            top: 0pt;
            left: 0;

            a {
                &:nth-of-type(1) {
                    margin-left: 5%;
                }

                &:nth-of-type(2) {
                    margin-right: 5%;
                }
            }

            i,
            a {
                padding-top: 0;
                font-weight: bold;
                font-size: 24px;
                color: $blue;
                transition: all 0.3s ease 0s;
            }

            a.mobile_dropdown i {
                color: $black;
            }

        }


    }

}


@media all and (max-width: 550px) {
    div.container .case_study_page .head_images {
        margin-top: 70vw;
    }
}

@media all and (max-width: 450px) {
    div.container .case_study_page {
        .head_images {
            margin-top: 90vw;
        }

        /* ---------- THANKS ---------- */
        div.thankyou {
            margin-top: -25vw;

            div.smoke {
                img {
                    height: 140vw;
                }
            }
        }
    }
}